In [ ]:
import pandas as pd

df = pd.DataFrame(index=pd.date_range('2000-01-01', '2005-01-01', freq='D'))
values_to_set = [{'value':3, 'from':'2000-01', 'to':'2000-05'}, 
                 {'value':5, 'from':'2000-06', 'to':'2000-09'}
                ]

for v in values_to_set:
    df.loc[v['from']:v['to'], 'value'] = v['value']
    
df.loc['2000-09-28':'2000-10-02']

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(index=pd.date_range('2000-01-01', '2005-01-01', freq='D'))

df.loc['2000-02-01', 'value'] = 5
df.loc['2000-05-01', 'value'] = 6

df.loc['2000-10-01', 'value'] = -1  # set stop value

df.ffill(inplace=True)
df.replace(-1, np.nan, inplace=True)

df.loc['2000-09-28':'2000-10-02']

In [ ]:
df.loc['2000-09-28':'2000-10-02']

In [ ]:
df.loc[['2000-10-01','2000-11-01'] , 'value'] = -1  # set stop value

In [ ]:
date_1 = pd.to_datetime('2000-10-01')

In [ ]:
date_1 + pd.DateOffset(months=1)

In [ ]:
df.index.day

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(index=pd.date_range('2000-01-01', '2005-01-01', freq='D'))

df.loc['2000-02-01', 'value'] = 5
df.loc['2000-05-01', 'value'] = 6

_mask_1 = ~df['value'].isna()  # filters non empty values
_mask_2 = (df.index.day==1)  # filters 1st of each month

df.loc[_mask_1,'tmp'] = -1  # marks non empty values on a temporal column

df.loc[_mask_1|_mask_2, 'tmp'] =   df['tmp'][_mask_1|_mask_2].shift(1) # moves temp values one month ahead

_mask_3 = df['tmp'] == -1  # filters nex month non empty
df.loc[_mask_3, 'value'] = -1   # set stop value on 'value' column
df.drop(columns='tmp', inplace=True)  # drops temporal column

# shows the stop mark for march
print(df['2000-02-28':'2000-03-02'])

# perform the forward filling

df.ffill(inplace=True)
df.replace(-1, np.nan, inplace=True)

print(df.loc['2000-02-28':'2000-03-02'])

print(df.loc['2000-05-28':'2000-06-02'])

            value
2000-02-28    NaN
2000-02-29    NaN
2000-03-01   -1.0
2000-03-02    NaN
            value
2000-02-28    5.0
2000-02-29    5.0
2000-03-01    NaN
2000-03-02    NaN
            value
2000-05-28    6.0
2000-05-29    6.0
2000-05-30    6.0
2000-05-31    6.0
2000-06-01    NaN
2000-06-02    NaN

In [ ]:
df.loc['2000-05-28':'2000-06-02']

In [ ]:
df.index.get_loc(_mask.index)

In [ ]:
A1 = -1*np.sign(A0)

In [ ]:
list(df[_mask].index)
for d in

In [ ]:
df[-value].apply(lambda row: df.loc[row.index + pd.DateOffset(month=1)])

In [ ]:
a