In [ ]:
import pandas as pd

In [2]:
import pandas as pd

data1 = {'Student': ['John','Kim','Adam','Sonia'],
         'Score': [92,100,76,82],
         'Year': [2015,2013,2016,2018]}
 
df_students = pd.DataFrame(data1, columns=['Student','Score','Year'])

data2 = {'Session': [1,2,3,4],
         'Student1': ['Sonia','Kim','John','Adam'],
         'Student2': ['Adam','Sonia','Kim','John']}

df = pd.DataFrame(data2, columns=['Session','Student1','Student2'])

# SOLUTION 
def sum_scores(student1, student2):
    _score_s1 = df_students.loc[(df_students['Student']==student1)]['Score'].values[0]
    _score_s2 = df_students.loc[(df_students['Student']==student2)]['Score'].values[0]
    return  _score_s1 + _score_s2

def years_elapsed(student1, student2):
    _year = pd.to_datetime("today").year
    _year_s1 = df_students.loc[(df_students['Student']==student1)]['Year'].values[0]
    _year_s2 = df_students.loc[(df_students['Student']==student2)]['Year'].values[0]
    return _year - max(_year_s1, _year_s2)

df['sum_score'] = df.apply(lambda row: sum_scores(row['Student1'], row['Student2']), axis=1)
df['years_elapsed'] = df.apply(lambda row: years_elapsed(row['Student1'], row['Student2']), axis=1)

df

   Session Student1 Student2  sum_score  years_elapsed
0        1    Sonia     Adam        158              4
1        2      Kim    Sonia        182              4
2        3     John      Kim        192              7
3        4     Adam     John        168              6