# Joining with Duplicates

In [3]:
import pandas as pd

df1 = pd.DataFrame({'k':[0, 1, 2, 3],
                    'x':['x0', 'x1', 'x2', 'x3'],
                    'y':['y0', 'y1', 'y2', 'y3'],
                    'z':['z0', 'z1', 'z2', 'z3']
                   })
df1.set_index('k', inplace=True)

df2 = pd.DataFrame({'k':[0, 0, 0, 1, 1, 1],
                    'v':['v0', 'v0', 'v0','v1', 'v1', 'v1',],
                    'w':['w0', 'w0', 'w0','w1', 'w1', 'w1',],
                    'u':['u0', 'u0', 'u0','u1', 'u1', 'u1',]
                   })
df2.set_index('k', inplace=True)

df_merged = pd.merge(df1, df2.drop_duplicates(), how='inner', left_index=True, right_index=True)

df_merged

    x   y   z   v   w   u
k
0  x0  y0  z0  v0  w0  u0
1  x1  y1  z1  v1  w1  u1