# Multiple CSV With Dask

In [1]:
import dask.dataframe as dd


df = dd.read_csv('./data/*.csv')

df['date_time'] = dd.to_datetime(df['Time (UTC)'])
df['Time (UTC)'] = dd.to_datetime(df['Time (UTC)'])
df = df.set_index('Time (UTC)')
df['dif'] = df['date_time'] - df['date_time'].shift(1)

In [10]:
df.compute().head(15)

,Open,High,Low,Close,Volume,date_time,dif
Time (UTC),,,,,,,
2019-12-30 22:00:00,1.11985,1.12391,1.11974,1.12076,110824.2900,2019-12-30 22:00:00,NaT
2020-01-01 22:00:00,1.12143,1.12245,1.11635,1.11722,486669.0280,2020-01-01 22:00:00,2 days
2020-01-02 22:00:00,1.11722,1.11798,1.11249,1.11548,179358.5500,2020-01-02 22:00:00,1 days
2020-01-05 22:00:00,1.11656,1.12055,1.11571,1.11968,139972.9850,2020-01-05 22:00:00,3 days
2020-01-06 22:00:00,1.11960,1.11975,1.11335,1.11526,152901.8550,2020-01-06 22:00:00,1 days
2020-01-07 22:00:00,1.11529,1.11682,1.11016,1.11053,199890.2700,2020-01-07 22:00:00,1 days
2020-01-08 22:00:00,1.11053,1.11204,1.10924,1.11051,143293.6450,2020-01-08 22:00:00,1 days
2020-01-09 22:00:00,1.11051,1.11291,1.10850,1.11165,128788.1525,2020-01-09 22:00:00,1 days
2020-01-12 22:00:00,1.11141,1.11469,1.11125,1.11338,121005.1305,2020-01-12 22:00:00,3 days
2020-01-13 22:00:00,1.11338,1.11444,1.11045,1.11274,137411.6100,2020-01-13 22:00:00,1 days
2020-01-14 22:00:00,1.11284,1.11634,1.11185,1.11495,148755.5450,2020-01-14 22:00:00,1 days
2020-01-15 22:00:00,1.11492,1.11727,1.11279,1.11358,132757.3150,2020-01-15 22:00:00,1 days
2020-01-16 22:00:00,1.11358,1.11425,1.10862,1.10890,126960.3575,2020-01-16 22:00:00,1 days
2020-01-19 22:00:00,1.10910,1.11023,1.10766,1.10944,97404.3400,2020-01-19 22:00:00,3 days
2020-01-20 22:00:00,1.10934,1.11179,1.10809,1.10819,132942.3350,2020-01-20 22:00:00,1 days

In [8]:
df.loc['2020-01-06 22:00:00'].compute()

,Open,High,Low,Close,Volume,date_time,dif
Time (UTC),,,,,,,
2020-01-06 22:00:00,1.1196,1.11975,1.11335,1.11526,152901.855,2020-01-06 22:00:00,1 days

In [4]:
_mask = df['dif'] > '1 days'
df_gap = df[_mask].compute()

In [5]:
df_gap.head(5)

,Open,High,Low,Close,Volume,date_time,dif
Time (UTC),,,,,,,
2020-01-01 22:00:00,1.12143,1.12245,1.11635,1.11722,486669.0280,2020-01-01 22:00:00,2 days
2020-01-05 22:00:00,1.11656,1.12055,1.11571,1.11968,139972.9850,2020-01-05 22:00:00,3 days
2020-01-12 22:00:00,1.11141,1.11469,1.11125,1.11338,121005.1305,2020-01-12 22:00:00,3 days
2020-01-19 22:00:00,1.10910,1.11023,1.10766,1.10944,97404.3400,2020-01-19 22:00:00,3 days
2020-01-26 22:00:00,1.10318,1.10375,1.10096,1.10184,133966.0817,2020-01-26 22:00:00,3 days

In [11]:
df_gap.tail(5)

,Open,High,Low,Close,Volume,date_time,dif
Time (UTC),,,,,,,
2021-12-05 22:00:00,1.13046,1.13129,1.12663,1.12832,76367.1250,2021-12-05 22:00:00,3 days
2021-12-12 22:00:00,1.13100,1.13192,1.12600,1.12837,68114.0250,2021-12-12 22:00:00,3 days
2021-12-19 22:00:00,1.12371,1.13037,1.12344,1.12756,69885.2800,2021-12-19 22:00:00,3 days
2021-12-26 22:00:00,1.13101,1.13344,1.13028,1.13258,40832.8667,2021-12-26 22:00:00,3 days
2022-01-02 22:00:00,1.13690,1.13782,1.12797,1.12965,82645.6585,2022-01-02 22:00:00,3 days