In [3]:
import pandas as pd
import numpy as np

In [128]:
data = np.array([['2020-08-01',10, 5, "item1", 'AF'],
                ['2020-08-01', 2, 4, "item1", "QF"],
                ['2020-09-01', 15, 30, "item1", "AF"],
                ['2020-09-01', 10, 5, "item1", "QF"]])
df = pd.DataFrame(data=data, columns=['Month', 'ExpectedQty', 'ActualQty', 'ProductID', 'Warehouse'])

pivot_table = df.pivot_table(columns=df.Month,
                            values=['ActualQty', 'ExpectedQty'],
                            index=[df['ProductID'], df['Warehouse']],
                            fill_value='')
pivot_table.columns = pivot_table.columns.swaplevel(0, 1)
pivot_table.sort_index(axis=1, level=0, inplace=True)

In [129]:
df

        Month ExpectedQty ActualQty ProductID Warehouse
0  2020-08-01          10         5     item1        AF
1  2020-08-01           2         4     item1        QF
2  2020-09-01          15        30     item1        AF
3  2020-09-01          10         5     item1        QF

In [131]:
df.pivot( index=['ProductID', 'Warehouse'], columns=['Month'], values=['ExpectedQty','ActualQty'])

                    ExpectedQty             ActualQty
Month                2020-08-01 2020-09-01 2020-08-01 2020-09-01
ProductID Warehouse
item1     AF                 10         15          5         30
          QF                  2         10          4          5

In [132]:
data = np.array([
				['2020-08-01',"Expected", 10, "item1", 'AF'],
				['2020-08-01',"Actual", 5, "item1", 'AF'],
                 ['2020-08-01', "Expected", 2,  "item1", "QF"],
                 ['2020-08-01', "Actual", 4, "item1", "QF"],
                 ['2020-09-01', "Expected", 15, "item1", "AF"],
                 ['2020-09-01', "Actual", 30, "item1", "AF"],
                 ['2020-09-01', "Expected", 10,"item1", "QF"],
                 ['2020-09-01',  "Actual", 5, "item1", "QF"]])
    
df = pd.DataFrame(data=data, columns=['Month', 'Type', 'Qty', 'ProductID', 'Warehouse'])
df['Month'] = pd.to_datetime(df['Month'])
# df.set_index('Month', inplace=True)

In [133]:
df

       Month      Type Qty ProductID Warehouse
0 2020-08-01  Expected  10     item1        AF
1 2020-08-01    Actual   5     item1        AF
2 2020-08-01  Expected   2     item1        QF
3 2020-08-01    Actual   4     item1        QF
4 2020-09-01  Expected  15     item1        AF
5 2020-09-01    Actual  30     item1        AF
6 2020-09-01  Expected  10     item1        QF
7 2020-09-01    Actual   5     item1        QF

In [134]:
pd.pivot_table(df, index=['ProductID', 'Warehouse'], columns=['Month'], values=['Type'], aggfunc=np.sum, observed=True)

Empty DataFrame
Columns: []
Index: [(item1, AF), (item1, QF)]

In [135]:
{s for s in range(0, 10) if s%2 == 0}

{0, 2, 4, 6, 8}