In [33]:
import pandas as pd
df = pd.read_csv('./data/players.csv')
_cols = list(df.columns)
_cols.remove('Player')
df['sum'] = df[_cols].sum(axis=1)
df

     Player  Points  Assists  Rebounds  Steals  Blocks  Wins  sum
0    Bryant      35        5         5       1       0     1   47
1     James      24       11         9       2       1     0   47
2    Durant      31        2        12       0       0     0   45
3     Curry      29        4         2       2       0     0   37
4    Harden      13       12         0       0       1     0   26
5    Doncic      12        5         3       0       0     1   21
6   Buttler      24        0         2       1       0     0   27
7      Paul       0       12         3       3       0     1   19
8  Marcello       0        0         0       0       0     0    0

In [34]:
samples = 3
df[(df['sum']!=0)].sample(samples)

   Player  Points  Assists  Rebounds  Steals  Blocks  Wins  sum
4  Harden      13       12         0       0       1     0   26
0  Bryant      35        5         5       1       0     1   47
2  Durant      31        2        12       0       0     0   45

In [24]:
df[_cols].sum(axis=1)

0    141.0
1    141.0
2    135.0
3    111.0
4     78.0
5     63.0
6     81.0
7     57.0
8      0.0
dtype: float64

In [16]:
_cols

['Points', 'Assists', 'Rebounds', 'Steals', 'Blocks', 'Wins', 'sum']