# split column

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Title':['2.1 text 1 1 and bla bla 1', '2.2 text 2 2','2.3.1 text 3 77']})

In [3]:
df

                        Title
0  2.1 text 1 1 and bla bla 1
1                2.2 text 2 2
2             2.3.1 text 3 77

In [4]:
df.Title.str.split(expand=True)

       0     1  2   3     4     5     6     7
0    2.1  text  1   1   and   bla   bla     1
1    2.2  text  2   2  None  None  None  None
2  2.3.1  text  3  77  None  None  None  None

In [5]:
x = df['Title'].str.split()
df['col1'] = x.str[0]
df['col3'] = x.str[-1]
df['Title'] = x.apply(lambda y: ' '.join(y[1:-1]))
df = df[['col1','Title','col3']]

In [6]:
df

    col1                 Title col3
0    2.1  text 1 1 and bla bla    1
1    2.2                text 2    2
2  2.3.1                text 3   77

In [7]:
x

0    [2.1, text, 1, 1, and, bla, bla, 1]
1                      [2.2, text, 2, 2]
2                   [2.3.1, text, 3, 77]
Name: Title, dtype: object