In [8]:
import pandas as pd  
import numpy as np

# assign data of lists.  
data = {'INTERVAL': ['100 A', '100 A or 20 B', '100 A or 20 B or 3 C','5 C']}     
# Create DataFrame  
df = pd.DataFrame(data)       
# Print the output.  
df

               INTERVAL
0                 100 A
1         100 A or 20 B
2  100 A or 20 B or 3 C
3                   5 C

In [37]:
# Objective 
data = {'INTERVAL': ['100 A', '100 A or 20 B', '100 A or 20 B or 3 C','5 C'],'INTERVAL_A': ['100', '100', '100',np.nan],'INTERVAL_A': ['100', '100', '100',np.nan],'INTERVAL_B': [np.nan, '20', np.nan, np.nan],'INTERVAL_C': [np.nan, np.nan, '3','5']}     
# Create DataFrame  
df = pd.DataFrame(data)       
# Print the output.  
print(df)

               INTERVAL INTERVAL_A INTERVAL_B INTERVAL_C
0                 100 A        100        NaN        NaN
1         100 A or 20 B        100         20        NaN
2  100 A or 20 B or 3 C        100        NaN          3
3                   5 C        NaN        NaN          5

In [38]:
# Split Interval
A0 = df['INTERVAL'].str.split(pat="or",expand=True, n=-1)

In [41]:
A0

        0       1     2
0   100 A    None  None
1  100 A     20 B  None
2  100 A    20 B    3 C
3     5 C    None  None

In [42]:
import numpy as np
A = np.array(A0)

In [43]:
A = A.reshape(-1)

In [44]:
df_1 = pd.DataFrame(A)

In [45]:
df_1

         0
0    100 A
1     None
2     None
3   100 A
4     20 B
5     None
6   100 A
7    20 B
8      3 C
9      5 C
10    None
11    None

In [46]:
df_1[0] = df_1[0].str.strip()

In [47]:
df_1 = df_1[0].str.split(' ', expand=True)

In [54]:
df_1.pivot(index=0, columns=1)

ValueError: Index contains duplicate entries, cannot reshape

In [53]:
df_1.columns

RangeIndex(start=0, stop=2, step=1)